<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
		<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
		<!--<a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Digitaler Führungsassistent</a>-->
  
        <div class="w3-dropdown-hover w3-hide-small"> <!--[w3-right"> style="float:right"] dann wäre es rechts oben in der Ecke und theoretisch würde das dropdown right-aligned sein..- funktioniert aber nicht-->
			<button class="w3-button w3-padding-large" title="help"><i class="fa fa-question-circle w3-margin-right"></i>Digitaler Führungsassistent</i></button>     
			<div class="w3-dropdown-content w3-card-4 w3-bar-block w3-light-grey" >
			  <a href="#" class="w3-bar-item w3-button" style="font-size:15px">Fragen zum Login</a>
			  <a href="#" class="w3-bar-item w3-button" style="font-size:15px">Fragen zur Registration</a>
			  <a href="#" class="w3-bar-item w3-button" style="font-size:15px">Datenschutz</a>
			</div>
		</div>
    </div>
</div>


  <div class="w3-display-container w3-container w3-margin-top color:#f2ffe6">
    <img src="./img/background1.jpg" alt="background_login" style="width:100%">
    <div class="w3-display-topmiddle" style="padding:24px 48px">
	
		<div class="w3-row-padding w3-margin-top" style="margin-left:auto; margin-right:auto; width:350px;">
			<div class="w3-card w3-round" id="login">
				<div class="w3-white">
					<p style="color:red"><b>{{ loginFalse }}</b></p>
					<button onclick="showDetails('login_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-card" style= "font-size:15px;">LOGIN</button>
					<!-- LOGIN - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="login_input">
						<p><center style="font-size:12px">Wenn Sie schon registriert sind, können Sie sich hier anmelden:</center></p>
						<form method="POST" action="/login" style="LINE-HEIGHT:5px;">
							<p style="font-size:10px" class="w3-left-align"><i class="fa fa-envelope w3-small w3-margin-right"></i>E-Mail:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="E-Mail" name="login_mail" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
							<p style="font-size:10px" class="w3-left-align"><i class="fa fa-ellipsis-h w3-small w3-margin-right"></i>Passwort:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="password" placeholder="Passwort" name="login_passwort" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
							<p style="font-size:10px" class="w3-left-align"><i class="fa fa-key w3-small w3-margin-right"></i>HiOrg-Schlüssel der Hilfsorganisation:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="HiOrg-Schlüssel" name="login_key" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
							<button type="submit" style="margin-left:auto; margin-right:auto; width:300px; LINE-HEIGHT:15px;" class="w3-button w3-block w3-blue-grey">EINLOGGEN</button>
						</form>
						<div class="container">
							<p></p>
							<span style="font-size:10px" class="psw w3-hover-white"><a href="/passwort_vergessen"><center>Passwort vergessen?</center></a></span>
						</div>
						<br>
					</div> <!-- id="login_input" -->
				</div>
			</div> <!-- id="login" -->  
		</div>
		
		
		<div class="w3-row-padding" style="margin-left:auto; margin-right:auto; width:350px;">
			<div class="w3-card w3-round" id="registration">
				<div class="w3-white">
					<p style="color:red"><b>{{ registrationFalse }}</b></p>
					<button onclick="showDetails('registration_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-card" style= "font-size:15px;">REGISTRATION</button>
					<!-- REGISTRATION - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="registration_input">
						<p><center style="font-size:12px">Falls Sie noch nicht registriert sind, tun Sie dies bitte hier:</center></p>
						
						<form method="POST" action="/registration" style="LINE-HEIGHT:5px;">
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-genderless w3-small w3-margin-right"></i>Anrede:</p>
						  <p style="font-size:10px"><select class="w3-input w3-border" placeholder="Anrede" name="registration_titel">
							<option value="" hidden>Anrede</option>
							<option value="Herr">Herr</option>
							<option value="Frau">Frau</option>
							<option value="Herr">Divers</option>
						  </select></p>
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-address-book w3-small w3-margin-right"></i>Vorname:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Vorname" name="registration_vorname" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-address-book w3-small w3-margin-right"></i>Nachname:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Nachname" name="registration_nachname" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-graduation-cap w3-small w3-margin-right"></i>Führungsqualifikation:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Führungsqualifikation" name="registration_quali" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-home w3-small w3-margin-right"></i>Hilfsorganisation:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Hilfsorganisation" name="registration_hiorg" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-envelope w3-small w3-margin-right"></i>E-Mail:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="email" placeholder="E-Mail" name="registration_mail" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-phone-square w3-small w3-margin-right"></i>Telefonnummer:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="tel" placeholder="Telefonnummer" name="registration_tel" style="margin-left:auto; margin-right:auto; width:300px;" required></p> <!--pattern="[0-9]{4}-[0-9]{8}"--> <!--beim senden wird gewarnt Format einzuhalten-->
						  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-ellipsis-h w3-small w3-margin-right"></i>Passwort:</p>
						  <p style="font-size:10px"><input class="w3-input w3-border" type="password" placeholder="Passwort" name="registration_passwort" style="margin-left:auto; margin-right:auto; width:300px;" required></p>
						  <button type="submit" style="margin-left:auto; margin-right:auto; width:300px; LINE-HEIGHT:15px;" class="w3-button w3-block w3-blue-grey">REGISTRIEREN</button>
						</form>
						
						<br>
					</div> <!-- id="registration_input" -->
				</div>
			</div> <!-- id="registration" -->  
		</div>
	<p></p>
	</div>
  </div>

<footer class="w3-container color:#faffe6">
  <p><i class="fa fa-copyright"></i> 2019</p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>

<!-- Include von externen Funktionen -->
<script type="text/javascript" src="script/gesamt.js"></script>