<!DOCTYPE html>
<html>

<title>DF Login</title> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!--The viewport handles the layouts for variable devices -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>

<body>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Digitaler Führungsassistent</h1>
</header>

<!-- First Grid (Login) -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Effizienz</h1>
      <h5 class="w3-padding-32">Die akademische Freiheit besagt so viel lernen zu dürfen, wie man möchte. Verwalte dafür dein eigenes Wissen, um die Kontrolle über Gelerntes und Vergessenes zu behalten. Erreiche deine persönlichen Ziele durch kontinuierliche Wiederholung und trainiere die Effizienz des Lernens.</h5>

      <p class="w3-text-grey">Mit der aktuellen Version dieser Webanwendung ist es möglich individuelle Merkeinträge zu beliebigem Gedankengut anzulegen und dieses jederzeit einzusehen. Des Weiteren bietet das System eine geeignete Visualisierung des bisher angesammelten Wissenschatzes. Und das alles mit bunten Bildern!</p>
    </div>
    <div class="w3-third w3-center">
      <form class="w3-padding-96" method="POST" action="/login">
		<p style="color:red"><b>Es existiert kein Konto zu diesen Daten!</b></p>
        <p><input class="w3-input w3-border" type="text" placeholder="E-Mail" required name="login_mail"></p>
        <p><input class="w3-input w3-border" type="password" placeholder="Passwort" required name="login_passwort"></p>
		<p><input class="w3-input w3-border" type="text" placeholder="HiOrg-Schlüssel" required name="login_key"></p>
        <p>
          <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" id="loginData" value="EINLOGGEN"/>
        </p>
      </form>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Adaptierbarkeit</h1>
      <h5 class="w3-padding-32">Nur ein Mausklick vom intelligenten und digitalen Lernen entfernt. Erstelle deine personalisierte Lernplattform und steige in das effiziente Lernen ein. Nach und nach wird dein digitales Wissensgut wachsen. Durch kontinuierliche Wiederholung, gefördert durch die Präsentation zufälliger Gedanken aus zurückliegenden Lernsessions, wird dieses digitale Wissen in eine physiologische Form übergehen. Und Du bist schlauer als jetzt!</h5>

      <p class="w3-text-grey">Intelligentes Lernen benötigt eine intelligente Plattform. Wähle dafür einen Bentzernamen, mit welchem wir dich ansprechen dürfen. Das Passwort wird für deine Identifikation und zum Schutz deines Wissens verwendet. Teile uns noch mit, worum sich deine Gedanken auf dieser Plattform drehen sollen und verlinke doch eine zugehörige Institution.</p>
    </div>
    </div>
    <div class="w3-third w3-center">
      <form class="w3-padding-96" method="POST" action="/registration">
        <p><input class="w3-input w3-border" type="text" placeholder="Titel" required name="registration_titel"></p>
		<p><input class="w3-input w3-border" type="text" placeholder="Vorname" required name="registration_vorname"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Nachname" required name="registration_nachname"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Führungsqualifikation" required name="registration_quali"></p>
		<p><input class="w3-input w3-border" type="text" placeholder="Hilfsorganisation" required name="registration_hiorg"></p>
		<p><input class="w3-input w3-border" type="text" placeholder="E-Mail" required name="registration_mail"></p>
		<p><input class="w3-input w3-border" type="text" placeholder="Telefonnummer" required name="registration_tel"></p>
		<p><input class="w3-input w3-border" type="password" placeholder="Passwort" required name="registration_passwort"></p>
        <p>
		   <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" id="registrationData" value="REGISTRIEREN"/>
        </p>
      </form>
    </div>
  </div>
</div>

<!-- Belly Tie --> 
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Diese Anwendung befindet sich noch in der Entwicklung</h1>
</div>

</body>
</html>