<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <!--<a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Digitaler Führungsassistent</a>-->
  
  <div class="w3-dropdown-hover w3-hide-small"> <!--[w3-right"> style="float:right"] dann wäre es rechts oben in der Ecke und theoretisch würde das dropdown right-aligned sein..- funktioniert aber nicht-->
   <button class="w3-button w3-padding-large" title="help"><i class="fa fa-question-circle w3-margin-right"></i>Digitaler Führungsassistent</i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" >
      <a href="#" class="w3-bar-item w3-button">Fragen zum Login</a>
      <a href="#" class="w3-bar-item w3-button">Fragen zur Registration</a>
      <a href="#" class="w3-bar-item w3-button">Datenschutz</a>
  </div>
 </div>
 </div>
</div>

<div class="w3-display-container w3-container w3-margin-top color:#f2ffe6">
    <img src="./img/background1.jpg" alt="background_login" style="width:100%">
    <div class="w3-display-topmiddle" style="padding-top:55px;">
	
			<div class="w3-row-padding w3-margin-top" style="margin-left:auto; margin-right:auto; width:350px;">
				<div class="w3-card w3-round" id="pw_vergessen">
					<div class="w3-white">
						<p class="w3-center" style="color:red; font-size:11px;"><b>{{ error }}</b></p>
						<button onclick="showDetails('pw_vergessen_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-card" style= "font-size:15px;">Passwort ändern</button>
						<!-- Passwort ändern - Rolldown Menue -->
						<div class="w3-hide w3-container w3-light-grey" id="pw_vergessen_input">
							<p><center style="font-size:12px">Bitte füllen Sie die folgenden Felder aus:</center></p>
							<form method="POST" action="/passwortNEU" style="LINE-HEIGHT:5px;">
							  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-envelope w3-small w3-margin-right"></i>E-Mail:</p>
							  <p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="E-Mail" name="login_mail" style="margin-left:auto; margin-right:auto; width:300px; font-size:10px" required></p>
							  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-phone-square w3-small w3-margin-right"></i>Telefonnummer:</p>
							  <p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Telefonnummer" name="login_tel" style="margin-left:auto; margin-right:auto; width:300px; font-size:10px" required></p>
							  <p style="font-size:10px" class="w3-left-align"><i class="fa fa-ellipsis-h w3-small w3-margin-right"></i>Passwort:</p>
							  <p style="font-size:10px"><input class="w3-input w3-border" type="password" placeholder="Neues Passwort" name="login_passwort" style="margin-left:auto; margin-right:auto; width:300px; font-size:10px" required></p>
							  <button style="margin-left:auto; margin-right:auto; width:300px; LINE-HEIGHT:15px;" type="submit" class="w3-button w3-block w3-blue-grey">EINLOGGEN</button>
							</form>
							<br>
						</div> <!-- id="pw_vergessen_input" -->
					</div>
				</div> <!-- id="pw_vergessen" -->  
			</div>
			
	</div>
</div>

<!-- Footer -->
<footer class="w3-container color:#faffe6">
  <p style="font-size:12px;"><i class="fa fa-copyright" style="font-size:12px;"></i> 2019</p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>

<!-- Include von externen Funktionen -->
<script type="text/javascript" src="script/gesamt.js"></script>